[submodule "bower_modules"]
	path = src/bower_modules
	url = https://github.com/sherah/dash_bower_modules.git
[submodule "node_modules"]
	path = node_modules
	url = https://github.com/sherah/dash_node_modules.git
