<div class="widgetbox col-md-12" id="daily_breakdowns">
    <div class="widgetbox-header">
        <h1>Daily Breakdowns</h1>
    </div>

    <div class="widgetbox-content">
        <div class="row">
            <h2><span id="breakdown-header"></span></h2>
            <p>Daily Breakdowns: daily donation data by a donation's payment type, region of origin, entry points, amounts levels, and platform.</p>
        </div>
        <hr>
        <div class="row">
            <canvas id="daily_breakdowns_chart" height=300px width=300px style="padding: 0px; position: relative;"></canvas>
        </div>
        <div class="row sliderRow">
            <div class="col-md-12">
                <div id="breakdown-slider" class="dataslider">
                    <a id="breakdownslidehandle" class="ui-slider-handle" href="#" style="left: 0%; border: 1px #ccc solid;"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="graphControls center">
                    <input class="btn-primary" type="button" value="Bars">
                    <input class="btn-primary" type="button" value="Lines">
                    <input class="btn-primary" type="button" value="Lines with steps">
                </p>
                <p class="stackControls center">
                    <input class="btn" type="button" value="With stacking">
                    <input class="btn" type="button" value="Without stacking">
                </p>
            </div>
            <div class="col-md-6">
                <p class="breakdownFacet center">
                    <input class="btn-primary" type="button" value="By Continent">
                    <input class="btn-primary" type="button" value="By Payment Family">
                    <input class="btn-primary" type="button" value="By Medium">
                    <input class="btn-primary" type="button" value="By Donation Range">
                </p>
            </div>
        </div>
    </div>


</div>