<div class="widgetbox widgetbox-twothird col-sm-7 col-md-9 col-lg-7">
	<div class="widgetbox_title">
		<h3>Donation Amounts by Bracket</h3>
		<hr>
	</div>
	<div class="widgetbox_content">
		<div class="row">
			<div class="col-md-8">
				<canvas id="DonationsByBracket" height=300px width=300px></canvas>
			</div>
			<div class="col-md-4">
				<h4>Legend:</h4>
				<span id="DonationsByBracketLegend"></span>
			</div>
		</div>
		<div class="row">
			<hr>
			<p>This is some information about this pie chart. It is very interesting because of all the interesting things in the chart.</p>
		</div>
	</div>
</div>
