<div class="widgetbox col-md-4" id="fraudGaugeWidget">

    <div class="widgetbox-content">
        <div class="row">
            <span class="smallIcon pull-right">
                <span id="queryButton" class="popover-dismiss" data-container="body" data-toggle="popover" data-placement="right" title="This widget's SQL" data-content="Fraud Rejections: {{chosenTimePeriod}} {{#if chosenFilters}} {{chosenFilters}} {{/if}}"><i class="fa fa-database"></i>
                </span>
            </span>
        </div>
        <div class="row">
            <div class="col-md-12 gauge">
                <h2 id="fraudGauge-header">
                    Fraud Rejections: {{chosenTimePeriod}}
                    {{#if chosenFilters}} {{chosenFilters}} {{/if}}
                </h2>
                <div class="row">
                    <div id="FraudRiskScoreGauge"></div>
                </div>

                <div class="row">

                    <div class="col-md-12" id ="FraudRiskScoreGaugeSetup">

                        <div class="panel panel-purple">

                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#filterCollapse">
                                        Modify
                                        <i class="fa fa-caret-down pull-right collapse-caret"></i>
                                    </a>
                                </h4>
                            </div>

                            <div id="filterCollapse" class="panel-collapse collapse">
                                <div class="panel-body">

                                    <form role="form">
                                        <div class="form-group">
                                            <label for="fraudPercentSlider">Fraud Percent Ranges</label>
                                            <div id="fraudPercentSlider"></div>
                                            <p>
                                                <label for="fraudPercent">Percentage:</label>
                                                <div id="fraudPercent"></div>
                                            </p>
                                        </div>

                                        <div class="form-group">
                                            <select class="form-control" id="fraudTimePeriodDropdown">
                                                <option>For Time Period...</option>
                                                <option>Last 15 Minutes (Default)</option>
                                                <option>Last Hour</option>
                                                <option>Last 24 Hours</option>
                                                <option>Last 5 Minutes</option>
                                                <option>Custom...</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Filter By:</label>
                                            <!--Currency-->
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="filterCheckbox" id="currencyFilter" id="currencyFilter">Currency
                                                </label>
                                            </div>

                                                <!--Currency Choices-->
                                                <div class="well well-sm hide" id="currencyFilterSubfilters">
                                                    <div class="moreCurrencyCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">USD
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="moreCurrencyCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">CAN
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="moreCurrencyCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">ETC
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            <!--Method-->
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="filterCheckbox" id="methodFilter">Method
                                                </label>
                                            </div>

                                                <!--Method Choices-->
                                                <div class="well well-sm hide" id="methodFilterSubfilters">
                                                    <div class="moreMethodCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">Credit Card
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="moreMethodCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">Paypal
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="moreMethodCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">ETC
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            <!--Source-->
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="filterCheckbox" id="sourceFilter">Source
                                                </label>
                                            </div>

                                                <!--Source Choices-->
                                                <div class="well well-sm hide" id="sourceFilterSubfilters">
                                                    <div class="moreSourceCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">Source 1
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="moreSourceCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">Source 2
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="moreSourceCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">ETC
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            <!--Campaign-->
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="filterCheckbox" id="campaignFilter">Campaign
                                                </label>
                                            </div>

                                                <!--Campaign Choices-->
                                                <div class="well well-sm hide" id="campaignFilterSubfilters">
                                                    <div class="moreCampaignCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">Cool Campaign 1
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="moreCampaignCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">Cool Campaign 2
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="moreCampaignCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">ETC
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            <!--Medium-->
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="filterCheckbox" id="mediumFilter">Medium
                                                </label>
                                            </div>

                                                <!--Medium Choices-->
                                                <div class="well well-sm hide" id="mediumFilterSubfilters">
                                                    <div class="moreMediumCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">Medium 1
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="moreMediumCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">Medium 2
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="moreMediumCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">ETC
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            <!--Referrer-->
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="filterCheckbox" id="referrerFilter">Referrer
                                                </label>
                                            </div>

                                                <!--Referrer Choices-->
                                                <div class="well well-sm hide" id="referrerFilterSubfilters">
                                                    <div class="moreReferrerCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">Dogs
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="moreReferrerCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">Cats
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="moreReferrerCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">ETC
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            <!--Gateway-->
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="filterCheckbox" id="gatewayFilter">Gateway
                                                </label>
                                            </div>

                                                <!--Gateway Choices-->
                                                <div class="well well-sm hide" id="gatewayFilterSubfilters">
                                                    <div class="moreGatewayCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">Global Collect
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="moreGatewayCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">WorldPay
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="moreGatewayCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">ETC
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            <!--Fraud Score-->
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="filterCheckbox" id="fraudscoreFilter">Fraud Score
                                                </label>
                                            </div>

                                                <!--Fraud Score Choices-->
                                                <div class="well well-sm hide" id="fraudScoreFilterSubfilters">
                                                    <div class="moreFraudScoreCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">Higher than X
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="moreFraudScoreCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">Between A and B
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="moreFraudScoreCheckboxes">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="subfilterCheckbox">ETC
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>

                                        <div class="btn btn-block btn-danger text-center" id="submitFraudGaugeOptions">OK</div>
                                    </form>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>