doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/qunit.css")
    script(data-main="javascripts/main", src='javascripts/require.js')
  body!= body
