doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
    script(type="text/javascript", data-main="/javascripts/main", charset="utf-8", src="/javascripts/require-jquery.js")

  body!= body
