@import: "../public/javascripts/vendor/lato/css/lato.css";
html {
    margin:0;
    padding:0;
}

body {
    background-color: #f5f5f5;
    font-family: "Lato";
    margin:0;
    padding:0;
}

#dashApp {
    padding-left: 175px;
    transition: all 0.4s ease 0s;
}

.navWrapper {
    margin-left: -100px;
    left: 100px;
    width: 100px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    background-color: #5e668a;
    color: #f5f5f5;
    animation: slide 1s forwards;
    animation-delay: 2s;
}

.sidebar-nav ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    background-color: rgba(255,255,255,0.2);
    margin-bottom: 0;
}

.sidebar-nav li {
    font-size: 24px;
    display: inline-block;
    width: 48%;
    text-align: center;
    padding: .5em;
}

.sidebar-nav li:hover {
    background-color: #f5f5f5;
    color: #5e668a;
}

#collapseNavMenu {
    background-color: rgba(255,255,255,0.4);
}

#collapseNavMenu:hover {
    background-color: rgba(255,255,255,0.7);
    color: #5e668a;
}

.collapsedNavMenu {
    width: 15px;
    transition-duration: 1s;
}

#mainNav ul{
    list-style-type: none;
}

.libraryTitle {
    margin-bottom: .5em;
}

#showNavMenu {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    color: #333;
    font-size: 18px;
    color: rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.05);
    padding: .5em;
}

#welcomeTitle {
    margin-bottom: 50px;
    border-bottom: 1px #555 solid;
}

.titlebrand, .titlebrandToggle {
    background-color: #d9534f;
    overflow: hidden;
    padding: 8px;
    margin: 0;
}

.titlebrand:hover {
    background-color: #c12e2a;
}

.titlebrandToggle {
    padding: 5px;
    margin-left: 5px;
}

.titlebrandToggle:hover {
    background-color: #fff;
    color: #F15854;
}

/* WIDGET BASE STYLINGS */

.widgetbox {
    box-shadow: 1px 1px 2px 1px #ccc;
    background-color: #fff;
    margin: 15px 5px 5px 5px;
    padding-top: 5px;
}

.widgetbox-header {
    color: #777;
    margin-bottom: 1em;
}

.widgetbox-content {
    padding: 1em;
    overflow: hidden;
    color: #555;
}

.widgetbox-half {

}

.widgetbox-third {

}

.widgetbox-twothird {

}

/* Gauges */

#fraudGaugeWidget {
    max-width: 330px;
}

#FraudRiskScoreGauge {
    height: 205px;
}

#fraudGauge-header{
    margin-bottom: -30px;
}

/* BOOTSTRAP OVERRIDES */

.btn {
    border-radius: 0;
    padding: .7em;
}

.btn-mint {
    background-color: rgb(220,245,242);
    color: #5e668a;
}

.btn-mint:hover {
    background-color: rgba(220,245,242,0.9);
    color: #000;
}

.navbar-fixed-top {
    height: 70px;
}

.padded {
    padding: 1em;
}




