@import: "../public/javascripts/vendor/lato/css/lato.css";

body {
	background-color: #f5f5f5;
	font-family: "Lato";
}

#mainNav {
    background-color: #5e668a;
    color: #f5f5f5;
    padding: 1em;
}

#mainNav ul{
	list-style-type: none;
}

#appContent {
	margin: 90px auto;
	width: 90%;
}

.libraryTitle {
	margin-bottom: .5em;
}

.titlebrand, .titlebrandToggle {
	background-color: rgba(255, 255, 255, 0.2);
	overflow: hidden;
	padding: 4px 0 4px 7px;
	margin: 0;
}

.titlebrandToggle {
	padding: 5px;
	margin-left: 5px;
}

.titlebrandToggle:hover {
	background-color: #fff;
	color: #F15854;
}

/* WIDGET BASE STYLINGS */

.widgetbox {
	box-shadow: 1px 1px 2px 1px #ccc;
	background-color: #fff;
}

.widgetbox-title {
	/*background-color: #5e668a;*/
    color: #f5f5f5;
    padding: 1em;
    margin-bottom: 1em;
}

.widgetbox_content {
	padding: 1em;
	overflow: hidden;
}

.widgetbox-half {

}

.widgetbox-third {

}

.widgetbox-twothird {

}

/* BOOTSTRAP OVERRIDES */

.btn {
	border-radius: 0;
	padding: .7em;
}

.btn-mint {
	background-color: rgb(220,245,242);
	color: #5e668a;
}

.btn-mint:hover {
	background-color: rgba(220,245,242,0.9);
	color: #000;
}

.navbar-fixed-top {
	height: 70px;
}




