<div class="form-group">
        <div class="well well-small">

            <div class="modalOptionTable">

                    <div class="modalOptionCell">
                        <label>Choose Preset Time Period:</label>
                        <div>
                            <label>
                                <select class="form-control" id="timePeriodDropdown" data-bind="options: availableTimePresets"></select>
                            </label>
                        </div>
                    </div>

                    <div class="modalOptionCell">
                        <div>
                            <label>Or Choose Other Time Increment:</label>
                            <label>
                                <select class="form-control" id="incrementDropdown" data-bind="options: availableIncrementTypes, value: selectedIncrement"></select>
                            </label>
                        </div>
                    </div>
            </div>


            <div class="modalOptionTable">

                    <div class="modalOptionCell">
                        <div>
                            <label>Or Custom Range:</label>
                            <div class="input-daterange input-group" id="customDatepicker">
                                <input type="text" class="input-sm form-control" data-provide="datepicker" name="start" />
                                <span class="input-group-addon">to</span>
                                <input type="text" class="input-sm form-control" data-provide="datepicker" name="end" />
                            </div>
                        </div>
                    </div>

                    <div class="modalOptionCell">
                        <!--here will go the menu that goes with other time increment selection. WIP-->
                    </div>

            </div>

        </div>
    </div>
</div>