link(rel="stylesheet", type="text/css", href="./javascripts/vendor/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet", type="text/css", href="./javascripts/vendor/fontawesome/css/font-awesome.css")
link(rel="stylesheet", type="text/css", href="./css/style.css")
script(data-main="main", src='./javascripts/vendor/requirejs/require.js')
body
	.container#dashApp
		#navContainer
		#appContent
			#showNavMenu