#qunit
#qunit-fixture
link(rel="stylesheet", type="text/css", href="./javascripts/vendor/qunit/qunit/qunit.css")
script(data-main="javascripts/main_test", src='./javascripts/vendor/requirejs/require.js')