html {
    margin:0;
    padding:0;
}

body {
    background-color: #f5f5f5;
    font-family: "Lato";
    margin:0;
    padding:0;
}

.container-fluid {
    padding: 15px 25px 0 0;
}

#dashApp {
    padding-left: 175px;
    transition: all 0.4s ease 0s;
}

#dashApp .container {
    padding-top: 50px;
}

.navRow {
    width: 100px;
    padding:0;
    margin: 0;
}

.navWrapper {
    margin-left: -100px;
    left: 100px;
    width: 100px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    background-color: #5e668a;
    color: #f5f5f5;
}

.sidebar-nav ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    background-color: rgba(255,255,255,0.2);
    margin-bottom: 0;
}

.sidebar-nav li {
    font-size: 24px;
    display: inline-block;
    width: 48.5px;
    text-align: center;
    padding: .5em;
}

.sidebar-nav li:hover {
    background-color: #f5f5f5;
    color: #5e668a;
    cursor: pointer;
}

#collapseNavMenu {
    background-color: rgba(255,255,255,0.4);
}

#collapseNavMenu:hover {
    background-color: rgba(255,255,255,0.7);
    color: #5e668a;
    cursor: pointer;
}

.collapsedNavMenu {
    width: 15px;
    transition-duration: 1s;
}

#mainNav ul{
    list-style-type: none;
    cursor: pointer;
}

.libraryTitle {
    margin-bottom: .5em;
}

#showNavMenu {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

#welcomeTitle {
    margin-bottom: 50px;
    border-bottom: 1px #555 solid;
}

.titlebrand, .titlebrandToggle {
    background-color: #d9534f;
    overflow: hidden;
    padding: 8px;
    margin: 0;
}

.titlebrand:hover {
    background-color: #c12e2a;
    cursor: pointer;
}

.titlebrandToggle {
    padding: 5px;
    margin-left: 5px;
}

.titlebrandToggle:hover {
    background-color: #fff;
    color: #F15854;
}

/* MAIN BASE QUALITY STYLEINGS */

.boxedIcon {
    color: #333;
    font-size: 18px;
    color: rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.05);
    padding: .5em;
}

.smallIcon {
    color: #333;
    font-size: 13px;
    color: #fff;
}

.noUi-base {
    background-color: #dff0d8;
}

.noUi-background {
    background-color: #f2dede;
}

.noUi-connect {
    background-color: #fcf8e3;
}

/* WIDGET BASE STYLINGS */

.widgetbox {
    box-shadow: 1px 1px 2px 1px #ccc;
    background-color: #fff;
    margin: 15px 5px 5px 5px;
    padding-top: 5px;
}

.widgetbox-header {
    color: #777;
    margin-bottom: 1em;
}

.widgetbox-content {
    padding: 1em;
    overflow: hidden;
    color: #555;
}

.widgetbox-half {

}

.widgetbox-third {

}

.widgetbox-twothird {

}

.widget-alert {
    padding: 5px 10px;
    margin: 7px 0;
}

.collapse-caret {

}

/* Gauges */

/*#fraudGaugeWidget {
    width: 330px;
}*/

#fraudGaugeWidget .panel-body {
    padding: 0;
}

#fraudGaugeMeta {
    margin: 10px;
}

#FraudRiskScoreGauge {
    height: 180px;
    width: 390px;
    margin: 0 auto;
}

#fraudPercentSlider {
    margin: 0 auto;
    display: inherit;
}

#queryButton {
    cursor: pointer;
}

ul.filterPickerList {
    list-style-type: none;
}

#filterNav > li > input, .subfilterSubnav > li > input{
    vertical-align: middle;
    margin-right:3px;
}

#filterNav > li {
    width: 25%;
    padding:10px 0 0 0;
}

#filterNav.nav-tabs {
    border: none;
}

.subfilterSubnav {
    margin-left: -35px;
}

#customTimePicker {
    width: 100px;
}

#customDate {
    width: 100px;
}

.input-sm.form-control{
    height: 34px;
    font-size: 14px;
}

#chosenTimePeriod {
    margin: 15px 0 -15px 0;
}

#customTimepickerRange {
    margin-left: 7px;
}

#fraudSubmissionErrors {
    text-align: left;
}

#unspecifiedFraudGauge.row{
    margin: 10px;
}

.btn.percentBtn {
    padding: .44em;
}

.btn.btn-warning.percentBtn {
    width: 100%;
}

/* BOOTSTRAP OVERRIDES */

.btn {
    border-radius: 0;
    padding: .7em;
}

.btn-mint {
    background-color: rgb(220,245,242);
    color: #5e668a;
}

.btn-mint:hover {
    background-color: rgba(220,245,242,0.9);
    color: #000;
}

a:hover {
    text-decoration: none;
}

input {
    height: 28px;
}

.navbar-fixed-top {
    height: 70px;
}

.padded {
    padding: 1em;
}

.panel {
    min-width: 360px;
}

.panel-purple {
  border-color: #ccc;
}

.panel-purple > .panel-heading {
  color: #f5f5f5;
  background-color: rgb(94,102,138);
  border-color: #5e668a;
}

.panel-purple > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #5e668a;
}

.panel-purple > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #5e668a;
}

.label {
    font-weight: normal;
}

.datepicker {
    z-index: 1151 !important;
}

.datePickerForm input[type="radio"], input[type="checkbox"] {
    margin: -4px 0 0 0;
}

.input-daterange .add-on{
    margin-top: -4px;
    height: 27px;
}

#queryTimepickerFrom.input-small, #queryTimepickerTo.input-small {
    width: 100px;
}

.sliderTable {
    width: 50%;
    margin-top: -30px;
    font-weight: bold;
}

.sliderTable > tbody > tr > td {
    border-top: none;
}



