html {
    margin:0;
    padding:0;
}

body {
    background-color: #f5f5f5;
    font-family: "Lato";
    margin:0;
    padding:0;
}

.container-fluid {
    padding: 15px 25px 0 0;
}

#dashApp {
    padding-left: 175px;
    transition: all 0.4s ease 0s;
}

#dashApp .container {
    padding-top: 50px;
}

.navRow {
    width: 100px;
    padding:0;
    margin: 0;
}

.navWrapper {
    margin-left: -100px;
    left: 100px;
    width: 100px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    background-color: #5e668a;
    color: #f5f5f5;
}

select {
    height: 37px;
    border-radius: none;
}

.sidebar-nav ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    background-color: rgba(255,255,255,0.2);
    margin-bottom: 0;
}

.sidebar-nav li {
    font-size: 24px;
    display: inline-block;
    width: 48.5px;
    text-align: center;
    padding: .5em;
}

.sidebar-nav li:hover, .sidebar-nav li:hover a {
    background-color: #f5f5f5;
    color: #5e668a;
    cursor: pointer;
}

.sidebar-nav a {
    color: #f5f5f5;
}

.setupAsk {
    margin: 0 auto;
    background-color: rgba(0,0,0,0.03);
    padding: 5%;
    font-size: 1.4em;
    color: rgba(0,0,0,0.6);
}

.setupWidget {
    background-color: rgba(217,83,79, 0.7);
}

#collapseNavMenu {
    background-color: rgba(255,255,255,0.4);
}

#collapseNavMenu:hover {
    background-color: rgba(255,255,255,0.7);
    color: #5e668a;
    cursor: pointer;
}

.collapsedNavMenu {
    width: 15px;
    transition-duration: 1s;
}

#mainNav ul{
    list-style-type: none;
    cursor: pointer;
}

.libraryTitle {
    margin-bottom: .5em;
}

#showNavMenu {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

#welcomeTitle {
    margin-bottom: 50px;
    border-bottom: 1px #555 solid;
}

.loginWelcome > i {
    padding: 0 3px;
}

.loginWelcome {
    width: 100px;
    padding: 3px;
    background-color: rgba(255,255,255,0.4);
    overflow-wrap: break-word;
    padding: 3px;
    font-size: .8em;
}

.titlebrand, .titlebrandToggle {
    background-color: #d9534f;
    overflow: hidden;
    padding: 8px;
    margin: 0;
}

.titlebrand:hover {
    background-color: #c12e2a;
    cursor: pointer;
}

.titlebrandToggle {
    padding: 5px;
    margin-left: 5px;
}

.titlebrandToggle:hover {
    background-color: #fff;
    color: #F15854;
}

.titleCol {
    padding: 0;
}

.titleCol p {
    color: #555;
}

/* MAIN BASE QUALITY STYLEINGS */

.boxedIcon {
    color: #333;
    font-size: 18px;
    color: rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.05);
    padding: .5em;
}

.smallIcon {
    color: #333;
    font-size: 13px;
    color: #fff;
}

.lightWell {
    background-color: rgba(0,0,0,0.009);
}

.noUi-base {
    background-color: #dff0d8;
}

.noUi-background {
    background-color: #f2dede;
}

.noUi-connect {
    background-color: #fcf8e3;
}

/* WIDGET BASE STYLINGS */

.factbox {
    width: 100%;
    padding: 7px;
    color: #f5f5f5;
}

.factbox h3 {
    font-size: 2em;
}

.factbox-blue {
    background-color: rgb(49,176,213);
}

.factbox-yellow {
    background-color: rgb(92,184,92);
}

.factbox-red {
    background-color: rgb(217,83,79);
}

.factbox-icon {
    font-size: 4em;
    text-align: center;
    padding:0;
}

.factbox-header {
    margin-top: 10px;
    margin-bottom: -12px;
}

/* Big English */

#bigEnglishThermometer {
    margin-top: 10px;
}

.bigEnglish-updates .row {
    margin: 0;
}

/* Gauges */

#fraudGaugeWidget .panel-body {
    padding: 0;
}

#fraudGaugeMeta {
    margin: 10px;
}

#FraudRiskScoreGauge {
    height: 180px;
    width: 390px;
    margin: 0 auto;
}

#fraudPercentSlider {
    margin: 0 auto;
    display: inherit;
}

#queryButton {
    cursor: pointer;
}

ul.filterPickerList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filterPickerList > li {
    margin: 0;
    padding: 0;
}

.subFilterPickerList input {
    height: 12px;
}

#filterNav > li > input, .subfilterSubnav > li > input{
    vertical-align: middle;
    margin-right:3px;
}

#filterNav > li {
    width: 25%;
    padding:10px 0 0 0;
}

#filterNav.nav-tabs {
    border: none;
}

.subfilterSubnav {
    margin-left: -35px;
}

#customTimePicker {
    width: 100px;
}

#customDate {
    width: 100px;
}

.input-sm.form-control{
    height: 34px;
    font-size: 14px;
}

#chosenTimePeriod {
    margin: 15px 0 -15px 0;
}

#customTimepickerRange {
    margin-left: 7px;
}

#fraudSubmissionErrors {
    text-align: left;
}

#unspecifiedFraudGauge.row{
    margin: 10px;
}

.btn.percentBtn {
    padding: .44em;
}

.btn.btn-warning.percentBtn {
    width: 100%;
}

/* BOOTSTRAP OVERRIDES */

.btn {
    border-radius: 0;
    padding: .7em;
}

.btn-col {
    margin: 5px 0;
}

.btn-mint {
    background-color: rgb(220,245,242);
    color: #5e668a;
}

.btn-mint:hover {
    background-color: rgba(220,245,242,0.9);
    color: #000;
}

a:hover {
    text-decoration: none;
}

input {
    height: 28px;
}

.modal-body {
    overflow: hidden;
}

.navbar-fixed-top {
    height: 70px;
}

.padded {
    padding: 1em;
}

.panel-transparent {
    border-color: #ccc;
}

.panel-purple {
  border-color: #ccc;
}

.panel-purple > .panel-heading {
  color: #f5f5f5;
  background-color: rgb(94,102,138);
  border-color: #5e668a;
  height:33px;
  padding:5px 5px 0 10px;
}

.panel-purple > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #5e668a;
}

.panel-purple > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #5e668a;
}

.label {
    font-weight: normal;
}

.layoutRow:first-child, .layoutRow .firstWidget {
    padding-left: 0;
}

.layoutRow:last-child, .layoutRow .lastWidget {
    padding-right: 0;
}

.datepicker {
    z-index: 1151 !important;
}

.datePickerForm input[type="radio"], input[type="checkbox"] {
    margin: -4px 0 0 0;
}

.input-daterange .add-on{
    margin-top: -4px;
    height: 27px;
}

#queryTimepickerFrom.input-small, #queryTimepickerTo.input-small {
    width: 100px;
}

.sliderTable {
    width: 50%;
    margin-top: -30px;
    font-weight: bold;
}

.sliderTable > tbody > tr > td {
    border-top: none;
}

/* Thermometer styles */

#thermometer {
    height: 400px;
}

#thermometer.goalProgress {
    background: #f7f7f7;
    padding: 5px;
}

#thermometer div.progressBar {
    background: #ff008c;
    color: #fff;
    font-size: 1.5em;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    letter-spacing: -1px;
    font-weight: 700;
    padding: 10px;
    display: block;
    overflow: hidden;
    width: 20px;
}

#thermometer span.goalAmount {
    display: none;
    text-indent: -9999px;
}

/* C3 Bar Chart Styles */
.c3-region {
  fill: red;
  fill-opacity: .1;
}

#distanceToGoalChart {
    padding: 0 9px 0 0;
}

.loading {
    position: fixed;
    top: 360px;
    left: 50%;
    margin-top: -96px;
    margin-left: -96px;
    background-color: #5bc0de;
    opacity: .85;
    border-radius: 25px;
    width: 192px;
    height: 192px;
    padding: 37px;
    color: #ffffff;
    z-index: 99999;
    font-size: 110%;
}

.loading div {
    margin-left: 10px;
}

#demoChart {
    margin-left:30px;
}

#savedChartsMenu {
    padding: 5px;
    color: #555;
}
#savedChartsMenu li {
    padding: 3px;
}

#savedChartsMenu li:hover{
    background-color: rgba(0,0,0,0.05);
}

.select2-container-multi .select2-choices {
    min-height: 36px;
    min-width: 200px;
    margin-left: 1px;
}

.xyGroupOption {
    overflow: hidden;
    min-width: 250px;
    margin: 10px auto;
}

.xyGroupOption .panel-heading{
    overflow: hidden;
}