
<div class="panel panel-purple" id="bigEnglishWidget">
	<div class="panel-heading">
		<h2>Big English Monitoring</h2>
	</div>

	<div class="panel-body">

		<!--Main updates: Goal, Total so far, Remaining to raise-->



		<!--Time Remaining To Go/Money Needed To Go (second, hour, day)-->



		<!--Daily, Hourly, etc Totals Earned-->
		<div class="row-fluid">
			<h3>Donation Amounts by Day in December</h3>
			<canvas id="totalsEarnedChart" width="1000" height="450"></canvas>
		</div>


	</div>
</div>
