<div class="col-md-12">

    <div class="row">
        <div class="col-md-4 titleCol">
            <h2 style="display:inline" data-bind="text: displayedBoard().displayName"></h2>
            <p><span data-bind="text: displayDate"></span></p>
            <!-- <i class="fa fa-gear" data-toggle="modal" data-target="#changeBoardNameModal"></i></p> -->
        </div>
        <div class="col-md-8 titleCol">
            <div class="btn-group btn-group-xs pull-right">
                <button type="button" class="btn btn-default" id="Library" data-bind="click: $parent.setDisplayPage"><i class="fa fa-plus-square"></i> Add widgets</button>
            </div>
        </div>
    </div>

    <div class="row jumbotron transparent" data-bind="visible: displayedBoard().widgets.length == 0">
            <div class="alert alert-info">
                <h1><i class="fa fa-flag"></i> There are no widgets on this board.</h1>
                <div class="text-center">
                    <h3>Don't worry, it's easy to add them. They live in the Library.</h3>
                    <button class="btn btn-lg btn-info" id="Library" data-bind="click: $parent.setDisplayPage"><i class="fa fa-paper-plane"></i> Take me to the Library!</button>
                </div>
            </div>
    </div>

    <div class="row widgetDisplayRow" data-bind="foreach: displayedBoard().widgets">
        <div class="widgetPlace" style="padding-left:0">
            <span class="floatingWidget" data-bind="component: { name: widgetCode, params: { title: displayName, description: description, configuration: configuration, widgetInstance: id, widgetCode: widgetCode, dataLoading: dataLoading, sharedContext: $parent.sharedContext } }"><span data-bind="text: display_name"></span></span>
        </div>
    </div>

</div>

<div class="modal fade" id="loadingModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<h3 class="modal-body">Chart Loading....</h3>
			<div class="progress">
			  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
			  </div>
			</div>
		</div><!-- /.modal-content -->
	</div>
</div>

<div class="modal fade" id="changeBoardNameModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Change Board Name</h4>
            </div>
            <div class="modal-body">
                <label>New Name:</label>
                <input type="text" class="form-control" data-bind="textInput: boardName">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success pull-right" data-dismiss="modal">Submit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->