<div id="navContainer">
	<div class="boxedIcon" id="showNavMenu" data-bind="click: showNav"><i class="fa fa-th-list"></i></div>
	<div class="navWrapper">
		<div class="row text-center">
			<h2 class='titlebrand'>Dash</h2>
		</div>

		<div class="row sidebar-nav">
			<div class="col-md-12">
				<div class="row-fluid">
					<ul>
						<li><span id="navDefaultBoard"><i class="fa fa-dashboard"></span></i></li>
						<li><span id="navProfileSettings"><i class="fa fa-user"></span></i></li>
					</ul>
				</div>
				<div class="row-fluid">
					<ul>
						<li><span id="navFavorites"><i class="fa fa-star-o"></span></i></li>
						<li><span id="navLibrary"><i class="fa fa-book"></span></i></li>
					</ul>
				</div>
				<div class="row-fluid">
					<ul class="text-center" id="collapseNavMenu" data-bind="click: hideNav">
						<span id="navCollapseArrows"><i class="fa fa-angle-double-left"></i></span>
					</ul>
				</div>
				<div><a href="/auth/drupal">Log In with OAuth Provider</a></div>
			</div>
		</div>
	</div>
</div>