<div id="navContainer">
	<div class="boxedIcon" id="showNavMenu" data-bind="click: showNav"><i class="fa fa-th-list"></i></div>
	<div class="navWrapper">
		<div class="row text-center navRow">
			<h2 class='titlebrand' id="Home" data-bind="click: $parent.setDisplayPage">Dash</h2>
		</div>

		<div class="row sidebar-nav navRow">
			<div class="col-md-12 navRow">

				<div class="row-fluid text-center" id="collapseNavMenu" data-bind="click: hideNav">
					<span id="navCollapseArrows"><i class="fa fa-angle-double-left"></i></span>
				</div>

				<div class="row-fluid mainNavButtonLogin" data-bind="visible: !loggedIn()">
					<span class="row-fluid text-center loginBtn">
						<i class="fa fa-user"></i>
						<a href="/auth/drupal">Log in</a>
					</span>
				</div>

				<span class="showProfile" data-bind="visible: loggedIn">
					<div class="row-fluid mainNavButton profileLinks" data-bind="click: toggleProfileList">
						<i class="fa fa-user"></i><span class="loginWelcome" data-bind="text: welcome"></span>
					</div>

					<div class="hide subNavBoardOpts subNavButton" id="profileLinks">
						<ul>
							<li><a href="/logout">Log out</a></li>
							<!-- <li id="Profile" data-bind="click: $parent.setDisplayPage">Profile</li> -->
						</ul>
					</div>
				</span>

				<span class="showNav" data-bind="visible: loggedIn">
					<div class="row-fluid mainNavButton boards" data-bind="click: toggleBoardList">
						<i class="fa fa-pie-chart"></i><span> Boards</span>
					</div>

					<div class="hide subNavBoardOpts subNavButton" id="boards">
						<ul data-bind="foreach: userBoards">
							<li data-bind="attr: {id: $data['id']}, click: $parents[1].setDisplayPage, text: displayName"></li>
						</ul>
						<div id="newBoard">
							<input type="text" data-bind="value: newBoardName" placeholder="New board name"/>
							<button class="addBoard" data-bind="click: addBoard" >Add board</button>
							<span class="error" data-bind="text: boardError"></span>
						</div>
					</div>

					<div class="mainNavButton" id="Library" data-bind="click: $parent.setDisplayPage"><i class="fa fa-plug"></i><span id="LibraryLink"> Library</span>
					</div>
				</span>

			</div>
		</div>
	</div>
</div>

